@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@font-face{
    font-family: 'Cinzel';
    src:url("../fonts/Cinzel-Regular.ttf");
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
}
body{
    font-size: 0px;
    overflow-x: hidden;
}

h1, table{
    font-family: 'Dancing Script', colibri, arial;
    font-size: 4rem;
    width: 900px center;
    margin: 20px center;
    font-size: 2rem;
    padding: 10px;
    border: 1px solid #000000;
    background: url(../imagenes/671055.jpg) center;
    text-align: center;
    color: #FFFFFF;
    
}

th{
    border: 1px solid #FFFFFF;
}

h2{
    font-family: 'Dancing Script', colibri, arial;
    font-size: 4rem;
    text-align: center;
}

#figure{
    width: 350px;
    margin: 10px;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ffffff;
    display: inline-block;
    text-align: justify;
}

#fe{
    position: center;
    top: 20px;
    right: unset;
    font-size: 1rem;
    line-height: 2rem;
    font-family: Cinzel,verdana, Courier;
}

#figure1{
    width: 350px;
    margin: 10px;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ffffff;
    display: inline-block;
    text-align: justify;
}

#figure2{
    width: 350px;
    margin-top: 10px;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ffffff;
    display: inline-block;
    text-align: justify;
}

#figure3{
    width: 350px;
    margin-top: 10px;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ffffff;
    display: inline-block;
    text-align: justify;
}

#foto{
    float: left;
    margin: 50px;
    width: 40%;
}

p{
    
    position: right;
    top: 20px;
    left: 150px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: Cinzel,verdana, Courier;
}

#foto1{
    float: center;
    margin: 10px;
    width: 50%;
}

#p1{
    position: center;
    top: 20px;
    right: unset;
    font-size: 1rem;
    line-height: 2rem;
    font-family: Cinzel,verdana, Courier;
}

#foto2{
    float: center;
    margin: 10px;
    width: 50%;
}

#p2{
    position: left;
    top: 20px;
    right: unset;
    font-size: 1rem;
    line-height: 2rem;
    font-family: Cinzel,verdana, Courier;
}

#foto3{
    float: center;
    margin: 10px;
    width: 50%;
}

#p3{
    position: left;
    top: 20px;
    right: unset;
    font-size: 1rem;
    line-height: 2rem;
    font-family: Cinzel,verdana, Courier;
}

h4{
    font-family: 'Dancing Script', colibri, arial;
    font-size: 4rem;
    width: 900px center;
    margin: 20px center;
    font-size: 2rem;
    padding: 10px;
    border: 1px solid #000000;
    background: url(../imagenes/671055.jpg) center;
    text-align: center;
    color: #FFFFFF;
    
}

#imagen1{
    width: 250px;
    height: 300px;
    margin: 20px;
    display: inline-block;
    border: 1px solid rgb(255, 0, 0);   
    box-shadow: 5px 5px 10px rgb(100, 51, 119);
    border-radius: 20px;
    overflow: hidden;
}

#ima{
    width: 250px;
    height: 300px;
}

#ima figcaption{
    font-size: 1.2rem;
    width: 250px;
    height: 300px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 300px;
}

#ima:hover figcaption{
    top: 0px;
}

#ima, figcaption{
    transition: all 0.4s ease-in-out;
}
#imagen2{
    width: 250px;
    height: 300px;
    margin: 20px;
    display: inline-block;
    border: 1px solid rgb(255, 0, 0);   
    box-shadow: 5px 5px 10px rgb(100, 51, 119);
    border-radius: 20px;
    overflow: hidden;
}

#ima2{
    width: 250px;
    height: 300px;
}

#ima2 figcaption{
    font-size: 1.2rem;
    width: 250px;
    height: 300px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 300px;
}

#ima2:hover figcaption{
    top: 0px;
}

#ima2, figcaption{
    transition: all 0.4s ease-in-out;
}

#imagen3{
    width: 250px;
    height: 300px;
    margin: 20px;
    display: inline-block;
    border: 1px solid rgb(255, 0, 0);   
    box-shadow: 5px 5px 10px rgb(100, 51, 119);
    border-radius: 20px;
    overflow: hidden;
}

#ima3{
    width: 250px;
    height: 300px;
}

#ima3 figcaption{
    font-size: 1.2rem;
    width: 250px;
    height: 300px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 300px;
}

#ima3:hover figcaption{
    top: 0px;
}

#ima3, figcaption{
    transition: all 0.4s ease-in-out;
}